<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home page!</title>
</head>
<body>
    <h1>What's up!</h1>
    <hr>
    <h2> Under construction .... </h2>
    <a th:href="@{/register}">Link to registration form ... </a>
    <br><br>
    <a th:href="@{/secret}">Show me some secrets ...</a>
    <br><br>

    <div sec:authorize="isAuthenticated()">
        <form name="f" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>

    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
        <br><br>
    </div>

    <div sec:authorize="isAnonymous()">
        <form name="f" th:action="@{/login}" method="get">
            <input type="submit" value="Login"/>
        </form>
    </div>

    <!--
    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') and #authorization.expression('...') }">
        This will only be displayed if authenticated user has role ROLE_ADMIN.
    </div>
    -->
</body>
</html>